<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.task.board.mapper.BoardMapper">
    <insert id="insertBoard" parameterType="Board" useGeneratedKeys="true" keyProperty="no">
        INSERT INTO board (
            user_name,
            title,
            content,
            reg_date
        ) values (
            #{user_name},
            #{title},
            #{content},
            NOW()
        )
    </insert>
    <insert id="insertFile" parameterType="AttachedFile">
        INSERT INTO file (
            board_no,
            file_name,
            file_path,
            file_type,
            file_size,
            file_date
        ) values (
            #{board_no},
            #{file_name},
            #{file_path},
            #{file_type},
            #{file_size},
            #{file_date}
        )
    </insert>
    <update id="updateBoard" parameterType="Board">
        UPDATE board SET
            title = #{title},
            content = #{content},
            update_date = NOW()
        WHERE no = #{no}
    </update>
    <select id="selectBoard" parameterType="Integer" resultType="Board">
        SELECT *
        FROM board
        WHERE no = #{no}
    </select>
    <select id="selectFile" parameterType="Integer" resultType="AttachedFile">
        SELECT
            no,
            board_no,
            file_name,
            file_path,
            file_type,
            file_size,
            file_date
        FROM file
        WHERE board_no = #{no}
    </select>
    <select id="selectBoardList" parameterType="PageDTO" resultType="Board">
        SELECT
            (SELECT @rownum := @rownum+1) as rownumber,
            board.*
        FROM board, (SELECT @rownum := 0) R
        ORDER BY reg_date DESC
        LIMIT #{pagination.limitStart}, #{countList}
    </select>

    <select id="count" parameterType="PageDTO" resultType="Integer">
        SELECT COUNT(*)
        FROM board
    </select>
</mapper>
